body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #d6858500, #65d9f7);
}

header {
  background-image: linear-gradient(to right, #ffffff, #000000);
  /* Degradado inicial */
  transition: background-image 1s ease;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 40%;
  padding: 1em 0;
  text-align: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 6em;
  height: auto;
  margin: 1em;
  border-radius: 50%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}

nav ul li {
  display: inline-block;
  margin: 0.5em;
  font-size: 25px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #2d4b73;
  color: #fff;
}

.random-color {
  transition: color 0.18s ease;
  text-align: center;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  header {
    font-size: 1.2em;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
  }

  .header-content {
    flex-direction: column;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0.5em 0;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 601px) {
  header {
    font-size: 2em;
    text-align: left;
  }

  .header-content {
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
  }

  nav ul li {
    margin: 0 1em;
  }
}

.SobreNosotros {
  display: flex;
  justify-content: center;
  margin: 20px 40px;
}

.SobreNosotros hr {
  margin-bottom: 20px;
}

.info-box1 {
  width: 50%;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.Descripcion {
  padding: 30px;
  justify-content: center;
  margin: 100px 100px;
  background-color: #7dece7;
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
}

.Descripcion hr {
  margin-bottom: 0.1%;
}

.Descripcion h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 0.1%;
}

.Texto {
  text-align: center;
  padding: 1px;
  margin: 50px;
}

.Servicios {
  display: flex;
  justify-content: center;
  margin: 100px 100px;
}

.Text {
  background-color: #29d5f3;
  color: #001407;
  text-align: center;
  margin: 10px;
  padding: 4%;
  border-radius: 50px;
}

.info-box h2 {
  margin-top: 0;
  padding-bottom: 10px;
}

.info-box p {
  margin-top: 0;
}

.carousel {
  position: relative;
  max-width: 80%;
  margin: auto;
  overflow: hidden;
}

.carousel h2 {
  text-align: center;
}

.images {
  display: flex;
  flex-direction: row;
  height: 550px;
  transition: transform 0.5s ease;
}

.images img {
  width: 33.33%;
  height: auto;
  border-radius: 50%;
}

button {
  font-size: 2em;
  background: transparent;
  border: none;
  cursor: pointer;
  color: black;
}

.prev {
  position: absolute;
  left: 0;
  top: 50%;
}

.next {
  position: absolute;
  right: 0;
  top: 50%;
}
.container-wrapper {
  display: flex;
  justify-content: space-between;
}

.container{
  position: relative;
  text-align: center;
}
.dropbtn {
  background: linear-gradient(to right, #95eea1,#6ebce0 );
  color: rgb(255, 0, 0);
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  border-color: #00000050;
  border-width: 1px;
}
.form-container {
  display: none;
  position: absolute;
  background: linear-gradient(to right, #95eea1,#6ebce0 );
  min-width: 180px;
  padding: 12px 16px;
  z-index: 1;
}
.container:hover .form-container {
  display: block;
}
.form-container input[type=text], .form-container input[type=email], .form-container input[type=file] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}
.formulario_b{
  padding: 8px;
  width: 100%;
  border: none;
  background-color: #4a7f97;
  color: white;

}
.formulario_b:hover{
  background-color: #829fc2;
}

.input_{
  background: linear-gradient(to right, #95eea1,#6ebce0 );
  border: none;
  border-color: #00000000;
}

.label_{
  font-size: 15px;
}
/*Mapa*/
.map-container {
  display: none;
  position: absolute;
  left: -350px;
  min-width:400px;
  height: 250px;
  z-index: 1;
}
.container:hover .map-container {
  display: block;
}
iframe {
  width: 100%;
  height: 100%;
  border: 10px;
  border-color: #000;
}
.espacio-fom{
  width: 400px; 
  height: 400px; 
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.espacio-fom img{
  width: 100%;
  height: 100%;
  object-position: center;
  border-radius: 30%;
}
footer {
  width: 100%;
  background: #c1eaf5;
  padding: 0.5%;
}

.contenedor1 {
  display: flex;
  justify-content: center;
}

.contenedor1 a {
  width: 20%;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.contenedor1 img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.contenedor1 p {
  margin: 0;
  padding: auto;
  border-radius: 10px;
  color: #000;
}

.x {
  background-color: #9c9c9c;
}

.Facebook {
  background-color: #3b5998;
}

.YouTube {
  background-color: #ca2b2b;
}

.LinkedIn {
  background-color: #0e76a8;
}
